<html>
<head>
	<title>Play Chess</title>
	<link rel="stylesheet" type="text/css" href="static/chessboard/css/chessboard-0.3.0.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="static/chessboard/js/chessboard-0.3.0.js"></script>
</head>
<body>
	<div id="board" style="width: 400px"></div>
	<script>
		var init = function() {

		//--- start example JS ---
		var board = ChessBoard('board','start');
		//--- end example JS ---

		}; // end init()
		$(document).ready(init);
	</script>

</body>
</html>